@import "~styles/variables";

.sidebar__layouts {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .sidebar__layouts-top {
    .sidebar__layouts-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 22px;

      b {
        font-size: 26px;
      }
    }
  }

  .sidebar__layouts-bottom {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .sidebar__layouts-card {
      background-color: #fff;
      width: 375px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 25px;

      .sidebar__layouts-img {
        border-radius: 30px;
        margin-bottom: 10px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 5px 5px 0 0;
        }
      }

      .sidebar__layouts-text {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 20px;

        h5 {
          font-size: 18px;
        }

        .anticon {
          font-size: 18px;
          color: #a9a9a9;
        }
      }

      &:hover {
        .sidebar__layouts-text {
          .anticon {
            color: #7f808c;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
