// @import '~reset-scss';
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~antd/dist/antd.css";
@import "~styles/variables";

body,
html,
#root {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #35314c;
  background: #fff;
  line-height: unset;
}

p {
  margin: 0;
  font-size: 17px;
}

div,
p,
form,
input,
a,
span,
button {
  background-origin: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: 600;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

input,
input:hover,
input:focus,
input:active,
button,
button:hover,
button:focus,
button:active {
  outline: none;
}

.anticon {
  font-size: 23px;
  color: #a9a9a9;
}

.app {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;

  .main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// --- Context Menu ---
.notes__context {
  background: #f5f6fa;
  width: 180px;
  border-radius: 5px;
  position: absolute;
  right: 0;

  &.notes__context--sortBy {
    top: 55px;
  }

  .notes__ctx {
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #ececec;

    &:last-child {
      border-style: none;
    }

    .notes__item {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px 10px;

      &:hover {
        background-color: #fff;
        border-radius: 5px;

        p {
          color: #212529;
        }

        .anticon {
          color: #212529;
        }
      }

      .anticon {
        margin-right: 10px;
        font-size: 21px;
      }

      p {
        color: #7f808c;
        font-size: 15px;
      }

      &.notes__item-red {
        &:hover {
          background-color: #ffecef;
          border-radius: 5px;

          p {
            color: #ee6a5f;
          }

          .anticon {
            color: #ee6a5f;
          }
        }
      }
    }
  }
}
