@import "~styles/variables";

.sidebar__tasks {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .sidebar__tasks-top {
    .sidebar__tasks-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 22px;

      b {
        font-size: 26px;
      }
    }
  }

  .sidebar__tasks-bottom {
    padding: 25px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .sidebar__tasks-group {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        .sidebar__tasks-stretched {
          .sidebar__tasks-icon {
            background-color: #0053b4;
          }

          .sidebar__tasks-text {
            p {
              color: #7f808c;
            }
          }
        }
      }

      .sidebar__tasks-stretched {
        background-color: #edeef6;
        border-radius: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px;
        cursor: pointer;

        .sidebar__tasks-icon {
          width: 50px;
          height: 50px;
          border-radius: 30px;
          background-color: $blue;
          display: flex;
          align-items: center;
          justify-content: center;

          .anticon {
            color: #fff;
            font-size: 19px;
          }
        }
        .sidebar__tasks-text {
          text-align: center;
          margin-top: 20px;
          p {
            color: #aab0b7;
            font-size: 13px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

.notes__wrappers {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d7d5de;
  z-index: 999;

  .notes__modal {
    width: 400px;
    background-color: #f5f6fa;
    border-radius: 5px;
    padding: 25px 20px;

    .notes__logo {
      img {
      }
    }

    .notes__info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        font-size: 28px;
        font-weight: 500;
      }

      .anticon {
      }
    }

    .notes__form {
      padding: 25px 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;

      .notes__group {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;

        &:last-child {
          margin-bottom: 0;
        }

        label {
          color: #7f808c;
        }

        input,
        textarea {
          padding: 15px 20px;
          border-style: none;
          background-color: #edeef6;
          border-radius: 5px;

          &::placeholder {
            color: #8c8c8c;
          }
        }
      }
    }
  }
}
