@import "~styles/variables";

.sidebar__tasks {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .sidebar__tasks-top {
    .sidebar__tasks-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 22px;

      b {
        font-size: 26px;
      }
    }
  }

  .sidebar__tasks-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .sidebar__tasks-group {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        .sidebar__tasks-stretched {
          .sidebar__tasks-icon {
            background-color: #0053b4;
          }

          .sidebar__tasks-text {
            p {
              color: #7f808c;
            }
          }
        }
      }

      .sidebar__tasks-stretched {
        background-color: #edeef6;
        border-radius: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px;
        cursor: pointer;

        .sidebar__tasks-icon {
          width: 50px;
          height: 50px;
          border-radius: 30px;
          background-color: $blue;
          display: flex;
          align-items: center;
          justify-content: center;

          .anticon {
            color: #fff;
            font-size: 19px;
          }
        }
        .sidebar__tasks-text {
          text-align: center;
          margin-top: 20px;
          p {
            color: #aab0b7;
            font-size: 13px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

.notes__wrappers {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d7d5de;
  z-index: 999;

  .notes__modal {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 0 0 0;

    .notes__logo {
      padding: 0px 20px;
      img {
        width: 40px;
        height: 40px;
      }
    }

    .notes__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;

      h2 {
        font-size: 28px;
        font-weight: 500;
      }

      .anticon {
        font-size: 28px;
        color: #000;
      }
    }

    .notes__form {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin-top: 15px;

      .notes__forms {
        padding: 25px 20px 25px 20px;
        width: 100%;

        .notes__group {
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          width: 100%;

          &:last-child {
            margin-bottom: 0;
          }

          label {
            color: #7f808c;
          }

          input,
          textarea {
            padding: 15px 20px;
            border-style: none;
            background-color: #edeef6;
            border-radius: 5px;

            &::placeholder {
              color: #8c8c8c;
            }
          }

          textarea {
            height: 90px;
            resize: none;
          }

          .notes__date {
            padding-right: 22px;
          }

          &.notes__group-color {
            display: flex;
            align-items: center;
            flex-direction: unset;

            label {
              margin-bottom: 0;
              margin-right: 15px;
            }

            .notes__menu {
              display: flex;
              align-items: center;

              .notes__item {
                border-radius: 50%;
                margin-right: 8px;
                cursor: pointer;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                .anticon {
                  display: none;
                }

                &.active {
                  .anticon {
                    display: block;
                    color: #fff;
                    font-size: 15px;
                  }
                  &.red {
                    background-color: #fd9081;
                  }
                  &.orange {
                    background-color: #f8b684;
                  }
                  &.yellow {
                    background-color: #f5de8d;
                  }
                  &.green {
                    background-color: #9be8a3;
                  }
                  &.blue {
                    background-color: #8cd1f8;
                  }
                  &.violet {
                    background-color: #a794f4;
                  }
                }

                &:last-child {
                  margin-right: 0;
                }

                .notes__color {
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border: 4px solid #fff;

                  &.red {
                    background-color: #f9371c;
                  }
                  &.orange {
                    background-color: #f97c1c;
                  }
                  &.yellow {
                    background-color: #f9c81c;
                  }
                  &.green {
                    background-color: #4fd85c;
                  }
                  &.blue {
                    background-color: #2cadf6;
                  }
                  &.violet {
                    background-color: #552cf6;
                  }
                }
              }
            }
          }
        }
      }

      .notes__buttons {
        width: 100%;
        height: 100%;
        padding: 25px 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #f8f7fb;
        border-radius: 0 0 10px 10px;

        .notes__btn {
          margin-right: 15px;
          background: $blue;
          border-style: none;
          padding: 10px;
          border-radius: 5px;
          color: #fff;
          font-size: 15px;

          &:hover {
            color: #fff;
            background-color: #0064da;
          }

          &:last-child {
            margin-right: 0;
          }

          &.notes__btn-cancel {
            color: #aeb1b4;
            background-color: #fff;

            &:hover {
              color: #7f808c;
              background-color: #dfe1ec;
            }
          }
        }
      }
    }
  }
}
